@model IEnumerable<KnockoutjsDemo2.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            TotalAmount
        </th>
        <th>
            OrderDate
        </th>
        <th>
            OrderItems
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@String.Format("{0:F}", item.TotalAmount)
        </td>
        <td>
			@String.Format("{0:g}", item.OrderDate)
        </td>
        <td>
			@(item.OrderItems == null ? "None" : item.OrderItems.Count.ToString())
        </td>
    </tr>
}

</table>


